<!DOCTYPE html>
<html>
  <head>
    <title>Admin Stream</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/typography.css">
  </head>
  <body>
    <div class="header">
      <h2><%= program_name %> Admin Feed</h2>
      <span class="bolded">keywords: </span>
      <% program_keywords.each do |keyword| %>
        <span class="keyword"><%= keyword %></span>
      <% end %>
      <div class="settings">
        <h4 class="trigger">Settings</h4>
        <div class="arrows"> >> </div>
        <div class="controls">
          <div class="mode-setting">
            <span class="bolded">mode</span>: <span class="value selected">live</span> <span class="value">followers</span> <span class="value">retweets</span>
          </div>
          <span>  |  </span>
          <div class="color-setting">
            <span class="bolded">color key</span>: <span class="value">followers</span> <span class="value">retweets</span> <span class="value">none</span>
          </div>
          <span>  |  </span>
          <div class="date-range-setting">
            <span class="bolded">date range</span>: <span class="value">30</span> <span class="value selected">15</span> <span class="value">1</span>
          </div>
          <span>  |  </span>
          <span id="settings-submit"><a href="#">refresh</a></span>
        </div>
      </div>
    </div>

    <!-- sort key, date range, limit -->
    <div class='master-stream'></div>

    <script type="text/javascript">
      var programId = <%= program_id %>;
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="/assets/javascripts/app.js"></script>
  </body>
</html>
